@model Framework.WebUI.Models.ViewModels.BeyanEkleVM

<form class="form-horizontal" id="BelgeEkleForm" novalidate="novalidate">
    @Html.AntiForgeryToken()
    <fieldset class="dosyaSatirlari" id="dosyaSatiri_1">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 smart-form" style="padding: 0;">
                @foreach (var item in Model.DosyaTurleri)
                {
                    <div class="col-md-11" style="padding: 0;">
                        <section>

                            <div class="form-group">
                                <label for="file" class="input input-file">
                                    <div class="button">
                                        @Html.TextBox("dosya" + item.Id, "", new { @class = "form-control taranmisDosya", type = "file", data_id = item.Id })Belge Ekle
                                    </div>
                                    <input type="text" id="placeholder_@item.Id" placeholder="@item.Ad" readonly="">
                                </label>
                            </div>

                        </section>
                    </div>
                    <div class="col-md-1" style="padding: 0;">
                        <i class="fa fa-check-square dogru" id="dogru__@item.Id" style="display:none"></i>
                        <i class="fa fa-times-circle yanlis" id="yanlis__@item.Id" style="display:none"></i>
                    </div>
                }
            </div>

            <div id="loadingbtnBelgeEkleme" class="hide" style="float:left;"><i class="fa fa-spinner fa-spin fa-2x"></i> İşleminiz yapılıyor ...</div>

            @*<button class="btn btn-primary" id="btnBelgeKaydet" onclick="BelgeEkle(@Model.Guid)" type="button">
                <span class="glyphicon glyphicon-floppy-save"></span> Yükle
            </button>*@


        </div>
    </fieldset>
</form>