@{
    ViewBag.PageId = "extr-page";
    ViewBag.PageClass = "animated fadeInDown";
}
@model Framework.WebUI.Models.ViewModels.LoginVm
<style>
    html, body {
        margin: 0;
        height: 100%;
        overflow: hidden
    }
    .btn:hover {
        color: #ffff;
        text-decoration: none;
    }
</style>
<div id="content" class="container">
    <div class="row">
        <div class="blankpage-form-field">
            <div class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
                <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                    <span class="page-logo-text mr-2">Kira Uygulaması</span>
                    <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
                </a>
            </div>
            <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "smart-form client-form", role = "form", id = "login-form" }))
                {

                <header> <span id="logo-login"> <img src="~/content/img/logo.png" alt="Ankara Büyükşehir Belediyesi"> </span></header>

                    @Html.AntiForgeryToken()
                    if (Model != null && Model.Errors != null && Model.Errors.Count > 0)
                    {
                        <div class="row alert alert-danger login-validation alert-danger-color">
                            <i class="glyphicon glyphicon-warning-sign col-md-1"> </i>
                            <ul style="list-style-type:none" class="col-md-11">
                                @foreach (var item in Model.Errors)
                                {
                                    <li>@item</li>
                                }
                            </ul>
                        </div>
                    }
                    <fieldset>
                        <section>
                            <label class="control-label">Kullanıcı Adınız:</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Kullanıcı Adınızı Giriniz</b>
                            </label>
                        </section>
                        <section>
                            <label class="control-label">Kullanıcı Şifreniz:</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.Password("Password", new { @class = "form-control" }) 
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Kullanıcı Şifrenizi Giriniz</b>
                            </label>
                            <div class="note">

                            </div>
                        </section>
                    </fieldset>
                    <footer>
                        <div style="text-align:center;">
                            <input type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-login-primary" style="float: none; height: 45px; margin-top: 0px; width: 85%; border-radius: 6px; " value="Giriş" />
                        </div>
                    </footer>
                }
            </div>

        </div>
    </div>
</div>


<video poster="~/Content/backgrounds/clouds.png" id="bgvid" playsinline autoplay muted loop>
    <source src="~/Content/media/video/cc.webm" type="video/webm">
    <source src="~/Content/media/video/cc.mp4" type="video/mp4">
</video>
@section pagespecific {

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $("#UserName").val("");
                $("#Password").val("");
            }, 100);
        });
    </script>
}

