@*<div class="login-info">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut" class="user-info">
            <span>@User.Identity.Name.ToLower()</span>
        </a>
    </span>
</div>*@
<div class="login-info">
    <img class="img-responsive center-block" src="~/content/img/csb-logo.png">
    <h6 style="color:whitesmoke;" id="tekPencere" class="animated fadeInDown">Örnek Proje Framewor V3 Uygulaması</h6>
    @*<span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="~/Content/img/avatars/male.png" />            
            <span>@User.Identity.Name.ToLower()</span>
        </a>
    </span>*@
</div>