<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"><a href="@Url.Action("index", "Anasayfa")"> <img src="/content/img/csb-logo_yatay.png" alt="CSB"></a> </span>
        <!-- END LOGO PLACEHOLDER -->

    </div>
</header>