    <!-- HEADER -->
<header id="header-login" style="height:130px">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo-login"> <img src="~/content/img/logo.png" alt="Ankara Büyükşehir Belediyesi"> </span>
        <!-- END LOGO PLACEHOLDER -->
    </div>

    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
    </section>

</header>

<!-- END HEADER -->