
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Kira/Views/Shared/_LayoutKira.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SmartAdmin - Responsive admin template..</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Roboto Slab Font [ OPTIONAL ] -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400" rel="stylesheet">
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="https://localhost:44336/Content/css/bootstrap.min.css" rel="stylesheet">
    <!--Jasmine Stylesheet [ REQUIRED ]-->
    <link href="https://localhost:44336/Content/css/style.css" rel="stylesheet">
    <!--Font Awesome [ OPTIONAL ]-->
    <link href="https://localhost:44336/Content/css/font-awesome.min.css" rel="stylesheet">
    <!--Switchery [ OPTIONAL ]-->
    <link href="https://localhost:44336/Content/css/switchery.min.css" rel="stylesheet">
    <!--Bootstrap Select [ OPTIONAL ]-->
    <link href="https://localhost:44336/Content/css/bootstrap-select.min.css" rel="stylesheet">
    <!--Demo [ DEMONSTRATION ]-->
    <link href="https://localhost:44336/Content/css/jasmine.css" rel="stylesheet">
    <!--SCRIPT-->
    <!--=================================================-->
    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="https://localhost:44336/Content/css/pace.min.css" rel="stylesheet">
    <script src="https://localhost:44336/Scripts/jsdashboard/pace.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>
<body>
    <div id="content">
        <section id="widget-grid" class="sayfaust_bosluk">
            <div class="row">
                <article class="col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                            <h2>Beyan Listesi - <b></b></h2>

                        </header>
                        <div role="contentinfo">
                            <div id="page-content">
                                <!--Widget-4 -->
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-9 col-sm-9 col-xs-10">
                                                        <h3 class="mar-no"> <span class="counter">50.5 GB</span></h3>
                                                        <p class="mar-ver-5"> Traffic this month </p>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-2"> <i class="fa fa-users fa-3x text-info"></i> </div>
                                                </div>
                                                <div class="progress progress-striped progress-sm">
                                                    <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar"> <span class="sr-only">60% Complete</span> </div>
                                                </div>
                                                <p> 4% higher than last month </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-9 col-sm-9 col-xs-10">
                                                        <h3 class="mar-no"> <span class="counter">26.8%</span></h3>
                                                        <p class="mar-ver-5">Server Load</p>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-2"> <i class="fa fa-folder-open fa-3x text-danger"></i> </div>
                                                </div>
                                                <div class="progress progress-striped progress-sm">
                                                    <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-danger"> <span class="sr-only">60% Complete</span> </div>
                                                </div>
                                                <p> 4% higher than last month </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel widget">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-9 col-sm-9 col-xs-10">
                                                        <h3 class="mar-no"> <span class="counter">$14,500</span></h3>
                                                        <p class="mar-ver-5"> Total Sales </p>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-2"> <i class="fa fa-file fa-3x text-success"></i> </div>
                                                </div>
                                                <div class="progress progress-striped progress-sm">
                                                    <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-success"> <span class="sr-only">60% Complete</span> </div>
                                                </div>
                                                <p> 4% higher than last month </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="panel widget">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-9 col-sm-9 col-xs-10">
                                                        <h3 class="mar-no"> <span class="counter">65</span>%</h3>
                                                        <p class="mar-ver-5"> Search Traffic</p>
                                                    </div>
                                                    <div class="col-md-3 col-sm-3 col-xs-2"> <i class="fa fa-database fa-3x text-info"></i> </div>
                                                </div>
                                                <div class="progress progress-striped progress-sm">
                                                    <div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning"> <span class="sr-only">60% Complete</span> </div>
                                                </div>
                                                <p> 4% higher than last month </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>

    </div>

    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/jquery-2.1.1.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/bootstrap.min.js"></script>
    <!--Fast Click [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/fastclick.min.js"></script>
    <!--Jquery Nano Scroller js [ REQUIRED ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/jquery.nanoscroller.min.js"></script>
    <!--Metismenu js [ REQUIRED ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/metismenu.min.js"></script>
    <!--Jasmine Admin [ RECOMMENDED ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/scripts.js"></script>
    <!--Switchery [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/switchery.min.js"></script>
    <!--Jquery Steps [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/parsley.min.js"></script>
    <!--Jquery Steps [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/jquery-steps.min.js"></script>
    <!--Bootstrap Select [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/bootstrap-select.min.js"></script>
    <!--Bootstrap Wizard [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/jquery.bootstrap.wizard.min.js"></script>
    <!--Masked Input [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/bootstrap-inputmask.min.js"></script>
    <!--Bootstrap Validator [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/bootstrapValidator.min.js"></script>
    <!--Flot Chart [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/jquery.flot.min.js"></script>
    <script src="https://localhost:44336/Scripts/jsdashboard/jquery.flot.resize.min.js"></script>
    <script src="https://localhost:44336/Scripts/jsdashboard/jquery.flot.spline.js"></script>
    <script src="https://localhost:44336/Scripts/jsdashboard/moment.min.js"></script>
    <script src="https://localhost:44336/Scripts/jsdashboard/moment-range.js"></script>
    <script src="https://localhost:44336/Scripts/jsdashboard/jquery.flot.tooltip.min.js"></script>
    <!--Flot Order Bars Chart [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/jquery.flot.categories.js"></script>
    <!--Morris.js [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/morris.min.js"></script>
    <script src="https://localhost:44336/Scripts/jsdashboard/raphael.min.js"></script>
    <!--Easy Pie Chart [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/jquery.easypiechart.min.js"></script>
    <!--Fullscreen jQuery [ OPTIONAL ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/screenfull.js"></script>
    <!--Form Wizard [ SAMPLE ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/index.js"></script>
    <!--Form Wizard [ SAMPLE ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/wizard.js"></script>
    <!--Form Wizard [ SAMPLE ]-->
    <script src="https://localhost:44336/Scripts/jsdashboard/form-wizard.js"></script>
</body>
</html>

@section pagespecific {
    @Scripts.Render("~/bundles/jqueryval")
}
