@model Framework.WebUI.Models.ViewModels.PersonelVm
@{
    ViewBag.Title = "Index";
}

<h2>PersonelList</h2>

@foreach (var item in Model.Personeller)
{
    <a href="#">
        @item.Ad @item.Soyad
    </a>
}

